<section>
    <section class="hero-container">
        <figure class="image-container">
            <img src="../../../assets/images/svg/angular-icon.svg" alt="angular-icon" class="image">
        </figure>
        <div class="presentation-container">
            <h2 class="presentation__title">project created
                <br> with framework angular
            </h2>
            <p class="presentation__subtitle">Young bicentennial scholarship & Certus.</p>
        </div>

        <div class="wave-container">
            <app-wave />
        </div>
    </section>

    <article class="article-description">
        <h3>the web development framework for building the future</h3>
        <div>
            <ul class="list-description-container">
                <li class="list-item">
                    <h5 class="description__title-item">WORKS AT ANY SCALE</h5>
                    <figure class="image-description__container">
                        <img class="images" src="../../../assets/images/svg/any-size.svg" alt="any-size">
                    </figure>
                    <div>
                        <p>Angular lets you start small and supports you as your team and apps grow.</p>
                        <a href="https://angular.io/scaling" target="_blank">Read how Angular helps you grow</a>
                    </div>
                </li>
                <li class="list-item">
                    <h5 class="description__title-item">LOVED BY MILLIONS
                    </h5>
                    <figure class="image-description__container">
                        <img class="images" src="../../../assets/images/svg/loved-by-millions.svg"
                            alt="loved-by-millions">
                    </figure>
                    <div>
                        <p>Join the millions of developers building with Angular in a thriving and friendly community.
                        </p>
                        <a href="https://angular.io/resources?category=community" target="_blank">Meet the Angular
                            community</a>
                    </div>
                </li>
                <li class="list-item">
                    <h5 class="description__title-item">BUILD FOR EVERYONE</h5>
                    <figure class="image-description__container">
                        <img class="images" src="../../../assets/images/svg/build-for-everyone.svg"
                            alt="build-for-everyone">
                    </figure>
                    <div>
                        <p>Rely on Angular's internationalization tools, security, and accessibility to build for
                            everyone
                            around the world.</p>
                        <a href="https://angular.io/everyone" target="_blank">Learn more about Angular's tools</a>
                    </div>
                </li>
            </ul>
        </div>
    </article>
    <div class="button-container">
        <a href="https://angular.io/features" target="_blank" class="button-more">Learn More</a>
    </div>

</section>