<section class="contact-section">
    <article class="presentation-personal">
        <h2>Sobre mi</h2>
        <p>Hola, mi nombre es Jeanfranco Lazarinos A.</p>
        <p>Soy un joven de 24 años, Arequipeño de nacimiento con la meta de desembolverse como Frontend Developer;
            Apasionado con la tecnología y el trabajo colaborativo. Actualmente llevo un curso de programación gracias a
            la beca "Jovenes Bicentenario". Anterior a ello aprendi de manera autodidacta las bases de la programación.
        </p>
       
        <div>
            <p>Mis tecnologías:</p>
            <div class="container-lists">
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>Bootstrap</li>
                </ul>
                <ul>
                    <li>Git</li>
                    <li>Angular</li>
                    <li>React</li>
                    <li>NodeJS</li>
                </ul>
            </div>
        </div>

        <div class="container-ancore">
            <a href="https://www.linkedin.com/in/jeanla/" target="_blank" class="btn ancore">Leer más</a>
        </div>
    </article>
    <div class="form-container">
        <h2>Contáctame</h2>
        <form class="formulario">
            <div class="inputBox caja1">
                <input type="text" required disabled>
                <span>Email: </span>
            </div>
            <div class="inputBox caja2">
                <input type="text" required>
                <span>Nombre: </span>
            </div>

            <div class="inputBox caja3">
                <input type="text" required>
                <span>Localidad: </span>
            </div>

            <div class="inputBox caja4">
                <textarea id="w3review" name="w3review" rows="4" cols="50" required></textarea>
                <span>Mensaje: </span>
            </div>
            <div class="caja5"> 
                <button class="btn" type="submit">Enviar Mensaje</button>
            </div>
        </form>
    </div>
    <div class="message">
        <figure>
            <img src="https://cdn.icon-icons.com/icons2/1097/PNG/512/1485477216-cloud-text_78566.png" alt="mensaje">
            <p>Inicia sesión para contactarte conmigo</p>
        </figure>
    </div>
</section>