/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

:root{
    --bg-primary: #414f70;
    --bg-secundary: #0336ad;


    --text-primary: #f5f5f5;
    --text-secundary: #9dc9f3;
    --text-tertiary: #9cd6f5;
    --text-link: #0084ff;

    --font-roboto: 'Roboto', sans-serif;


    --shadow-box: 0px 3px 6px 1px #242424bb;
}
